google-api-python-client>=2.0.0
google-auth-httplib2>=0.1.0
google-auth-oauthlib>=1.0.0
Flask>=3.0.0
Flask-Login>=0.6.3
Flask-SQLAlchemy>=3.1.1
pandas>=2.1.0
openpyxl>=3.1.2
python-calamine>=0.6.0
SQLAlchemy>=2.0.0
Plotly>=5.18.0
# Chart.js (CDN)
reportlab>=4.0.0
XlsxWriter>=3.1.9
